<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud_thick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{430,308}</string>
                <key>spriteSourceSize</key>
                <string>{436,320}</string>
                <key>textureRect</key>
                <string>{{890,294},{430,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_thick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{458,298}</string>
                <key>spriteSourceSize</key>
                <string>{460,336}</string>
                <key>textureRect</key>
                <string>{{2,294},{458,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_thick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{442,286}</string>
                <key>spriteSourceSize</key>
                <string>{452,292}</string>
                <key>textureRect</key>
                <string>{{375,2},{442,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_thick4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{426,306}</string>
                <key>spriteSourceSize</key>
                <string>{460,316}</string>
                <key>textureRect</key>
                <string>{{462,294},{426,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_thick5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,309}</string>
                <key>spriteSourceSize</key>
                <string>{422,309}</string>
                <key>textureRect</key>
                <string>{{2,604},{422,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_thick6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{460,326}</string>
                <key>spriteSourceSize</key>
                <string>{478,376}</string>
                <key>textureRect</key>
                <string>{{808,604},{460,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_thick7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,244}</string>
                <key>spriteSourceSize</key>
                <string>{371,244}</string>
                <key>textureRect</key>
                <string>{{2,2},{371,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_thick8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,290}</string>
                <key>spriteSourceSize</key>
                <string>{398,290}</string>
                <key>textureRect</key>
                <string>{{819,2},{398,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_thin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{380,312}</string>
                <key>spriteSourceSize</key>
                <string>{380,344}</string>
                <key>textureRect</key>
                <string>{{426,604},{380,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unlock_cloud.png</string>
            <key>size</key>
            <string>{1322,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e284823ad5ab69e5be0c42f2b4ff39b4:6688045be7bc8b37142c290aa0b04373:126bddd95d97595c82704e3b379b5cba$</string>
            <key>textureFileName</key>
            <string>unlock_cloud.png</string>
        </dict>
    </dict>
</plist>
